body{
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 0;
  padding: 0;
}
.player-panel{
  display: flex;
  font-size: 32px;
}
.player-panel div{
  display: flex;
  align-items: center;
  margin-right: 16px;
  margin-left: 16px;
  margin-bottom: 32px;
}
.player-panel img{
  width: 60px;
  height: 60px;
  margin-right: 16px;
}
.player-inactive{
  opacity: 0.5;
}
.d-none{
  display: none;
}
.game-area{
  position: relative;
  width: 399px;
}
table{
  border-collapse: collapse;
}
/* tr{
  width: 399px;
} */
td{
  width: 133px;
  height: 133px;
  border: 5px solid black;
  position: relative;
  cursor: pointer;
}
td:hover{
  background-color: rgba(25,221,0,0.1);
}
tr:first-child td{
  border-top: 0;
}
tr:last-child td{
  border-bottom: 0;
}
tr td:first-child{
  border-left: 0;
}
tr td:last-child{
  border-right: 0;
}
.shape{
  width: 80px;
  height: 80px;
  position: absolute;
  top: 26px;
  left: 26px;
}
.horizontal-line{
  height: 10px;
  background-color: #FFD34C;
  width: 350px;
  position: absolute;
  transform: scaleX(0.0);
  transition: transform 22ms ease-in-out;
  border: 3px solid #2F528F;
  z-index: 5;
}
.make-vertical{
  transform: rotate(90deg) scaleX(0.0);
}
.make-diagonal-left-right{
  width: 470px;
  transform: rotate(45deg) scaleX(0.0);
}
.make-diagonal-right-left{
  width: 470px;
  transform: rotate(-45deg) scaleX(0.0);
}
.game-over{
  width: 100%;
  max-height: 70vh;
  left: 0;
  right: 0;
  z-index: 10;
  position: absolute; 
  animation: zoomIn 500ms ease-in-out;
}
.restart-btn{
  height: 100px;
  width: 300px;
  border: 3px solid #2F528F;
  background-color: #FFD34C;
  font-size: 32px;
  font-weight: bold;
  cursor: pointer;
  position: absolute;
  bottom: 50px;
  animation: zoomIn 500ms ease-in-out;
}
.restart-btn:hover{
  background-color: #ffd24c7f;
}
#line-0{
  top: 57px; 
  left: 27px
}
#line-1{
  top: 198px; 
  left: 27px;
}
#line-2{
  top: 338px; 
  left: 27px
}
#line-3{
  top: 199px; 
  left: -111px;
}
#line-4{
  top: 199px; 
  left: 28px
}
#line-5{
  top: 199px; 
  left: 168px;
}
#line-6{
  top: 196px; 
  left: -31px;
}
#line-7{
  top: 196px; 
  left: -31px;
}

@keyframes zoomIn{
  from{
    transform: scale(0);
    opacity: 0;
  }
  to{
    transform: scale(1);
    opacity: 1;
  }
}
@media(max-width: 430px){
  .player-panel{
    justify-content: center;
    align-items: center;
  }
  #player-1, #player-2{
    flex-direction: column;
  }
  .game-area{
    width: 300px;
    height: 300px;
  }
  tr, td{
    width: 100px;
    height: 100px;
  }
  .shape{
    width: 50px;
    height: 50px;
  }
  .horizontal-line{
    width: 240px;
  }
  #line-0{
  top: 43px; 
  left: 27px
}
#line-1{
  top: 151px; 
  left: 27px;
}
#line-2{
  top: 257px; 
  left: 27px
}
#line-3{
  top: 154px; 
  left: -172px;
}
#line-4{
  top: 154px; 
  left: 30px
}
#line-5{
  top: 154px; 
  left: 131px;
}
#line-6{
  top: 152px; 
  left: 28px;
}
#line-7{
  top: 152px; 
  left: 26px;
}
}